@{
    ViewData["Title"] = "Home Page";
}

<div class="page">
    <div class="box">
        <h1>Welcome to the CMCS Web App</h1>
        <p>Use the navigation bar to access the different features of the app.</p>
        <p>Dean James Greeff </p>
        <p>ST10378305 </p>
    </div>

    <div class="box">
        <h1>About Us</h1>
        <p> 
            This project, the CMCS Web App, is a comprehensive web application designed to manage academic and administrative 
            tasks within an educational institution.
        </p>
        <p>
            It features user roles such as Academic Managers, Lecturers, and
            Programme Coordinators, each with specific functionalities. The app includes capabilities for managing claims,
            tracking hours worked, and handling various administrative tasks efficiently.
        </p>
    </div>
</div>
