@model CMCS_Web_App.Models.Lecturer;
@{
    ViewData["Title"] = "Register";
}

<div class="page">
    <div class="wrapper">
        <div class="form-box">

            <h1>Register</h1>
            <p>Register as a Lecturer</p>

            <form asp-controller="Home" asp-action="RegisterUser" method="post">

                <div class="input-box">
                    <input type="text" name="Email" required />
                    <label>Email</label>
                </div>

                <div class="input-box">
                    <input type="text" name="FirstName" required />
                    <label>First Name</label>
                </div>

                <div class="input-box">
                    <input type="text" name="Surname" required />
                    <label>Surname</label>
                </div>

                <div class="input-box">
                    <input type="text" name="Faculty" required />
                    <label>Faculty</label>
                </div>

                <div class="input-box">
                    <input type="password" name="Password" required />
                    <label>Password</label>
                </div>

                <button class="btn" type="submit">Register</button>

                @if (TempData["RegisterFailed"] != null)
                {
                    <div class="alert alert-danger">
                        @TempData["RegisterFailed"]
                    </div>
                }
            </form>

        </div>
    </div>
</div>
